@font-face{
    font-family:"unicode-optima";
    src:url("../fonts/Optima-Font/unicode.optima.ttf");
  }

:root {
    --sub-font: 'unicode-optima', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --sub-blue: #003967;
    --sub-blue-background: rgba(0, 57, 103, 0.082);

    --sub-warn: #ffcc00;
    --sub-warn-background: rgba(255, 204, 0, 0.082);

    --sub-error: #cc3300;
    --sub-error-background: rgba(204, 51, 0, 0.082);

    /* --tag-color: rgb(216, 104, 0); */
    --tag-color: var(--sub-blue);
    /* --att-color: purple; */
    --att-color: rgb(216, 104, 0);
    --val-color: rgb(51, 128, 0);  
}

/*----------------------------------{ Header }----------------------------------*/
body {
    margin: 0 !important;
}

.stdheader {
    /* margin: 20pt 50pt !important; */
    padding: 25pt 0;
    background-color: var(--sub-blue);
    color: white !important;
}

h1.maintitle,
h2.subtitle {
    font-family: var(--sub-font);
    color: white !important;
}

h1.maintitle,
h2.subtitle {
    margin-top: 0;
}

.stdheader h1 {
    font-size: 3em !important;
    margin-bottom: 10px;
}

.stdheader h2 {
    font-size: 2em !important;
    margin-bottom: 0;
   }


/*----------------------------------{ Table of Contents }----------------------------------*/
.toc_body,
.toc_back{
    padding-left:0 !important;
}

/*----------------------------------{ Headings }----------------------------------*/
.tei_body > h1 {
    font-size: 2.7em !important;
    border-bottom: 0px solid black;
    margin-top: 1.5em;
    font-weight: unset !important;
}

.container h1, 
.container h2, 
.container h3, 
.container h4, 
.container h5, 
.container h6 {
    font-family: var(--sub-font);
    color: var(--sub-blue);
}

/* div.tei_body > h1 {
    font-size: 2.8em;
    border-bottom: 2px solid var(--sub-blue);
} */

div.head {
    font-size: larger;
    font-weight: 600;
    margin-top: 1.5em;
    font-family: var(--sub-font);
    color: var(--sub-blue);
}

/*~~~~~~~~~~~~~~~~~~~~~ TYPOGRAPHY ~~~~~~~~~~~~~~~~~~~~~~*/
.container section h1 {
    font-size: 2.3em !important;
    font-weight: 200 !important;
    margin-top: 1.5em;
}

.container h2 {
    font-size: 1.8em !important;
    font-style: italic;
    margin-top: 1.5em;
}

.container h3, 
.container h4, 
.container h5, 
.container h6 {
    margin-top: 1.5em;
}

.container h3 {
    font-size: 1.5em !important;
    font-style: normal;
}

.container h4 {
    font-size: 1.3em !important;
    font-style: italic;
}

.container h5 {
    font-size: 1em !important;
    font-style: normal;
    font-weight: 600 !important;
}

.container h6 {
    font-size: 1em !important;
    font-weight: 200 !important;
}

/*~~~~~~~~~~~~~~~~~~~~~ BORDERS ~~~~~~~~~~~~~~~~~~~~~~*/
/* Borders Ü1, Ü2*/
h1,
h2 {
    border-bottom: 1px solid var(--sub-blue);
}

/* Borders Ü3, Ü4*/
h3,
h4 {
    border-bottom: 1px dotted var(--sub-blue) !important;
}

/* Borders Ü5, Ü6*/
h5,
h6 {
    border-bottom: 0px solid var(--sub-blue)!important;
}

/*----------------------------------{ TEI BODY }----------------------------------*/
div.tei_body {
    line-height: 1.5em;
}


/*----------------------------------{ FIGURES }----------------------------------*/
.figure {
    border-color: var(--sub-blue);
}

/*----------------------------------{ LINKS }----------------------------------*/
a {
    color: #325979;
}

/*----------------------------------{ Notes }----------------------------------*/
.note {
    display: block !important;
    font-size: unset !important;
}

.note {
    padding: 8px 10px;
}

.note,
.note.info {
    border-left: 3px solid var(--sub-blue);
    background-color: var(--sub-blue-background);
}

.note.warn {
    border-left: 3px solid var(--sub-warn);
    background-color: var(--sub-warn-background);
}

.note.error {
    border-left: 3px solid var(--sub-error);
    background-color: var(--sub-error-background);
}

.note::before,
.note::after {
    content: "" !important;
}

.note > .noteLabel {
    display: block;
    font-weight: 600;
    font-style: unset !important;
    font-size: unset;
    font-family: var(--sub-font);
    margin-bottom: 5px;
    font-variant: small-caps;
}

div.note {
    margin-left: 0 !important;
    margin-right: 0 !important;
    text-indent: unset !important;
}


/*----------------------------------{ TAGDOCS }----------------------------------*/
span.gi,
.gi {
    font-family: monospace;
    color: var(--tag-color);
}

a.gi {
    text-decoration: none;
}

a.gi:hover {
    text-decoration: solid;
    text-decoration-line: underline;
}

span.att {
    font-family: monospace;
    color: var(--att-color);
}

span.val {
    font-family: monospace;
    color: var(--val-color);
}

span.val::before,
span.val::after {
    content: "\"";
}

/*----------------------------------{ XML Codebox }----------------------------------*/
div.egXML_valid {
    background-color: var(--sub-blue-background);
    border: 1px solid;
    border-color: var(--sub-blue);
    overflow-x: auto;
    overflow-y: hidden;
}

div.egXML_valid .element {
    color: var(--tag-color);
}

div.egXML_valid .attribute {
    color: var(--att-color);
}

div.egXML_valid .attributevalue {
    color: var(--val-color);
}

div.pre {
    overflow-x: auto;
    overflow-y: hidden;
    /* max-width: 1050px; */
}

.tei_back div.pre {
    max-width: 1070px;
}
/* div.egXML_valid[data-n]::before {
    content: attr(data-n);
    display: block;
    background-color: #003967;
    color: white;
    font-weight: 600;
} */

/*----------------------------------{ Tabellen }----------------------------------*/
table tr.label th,
table tr.label td,
table td.label {
    background-color: var(--sub-blue) !important;
    color: white !important;
    border-color: var(--sub-blue);
}

table tr.label td:not(:last-child),
table tr.label th:not(:last-child) {
    border-right-color: white !important;
}

table tr.label th {
    border: 1px solid var(--sub-blue);;
}



/*----------------------------------{ Scroll to Top }----------------------------------*/
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: var(--sub-blue);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }